.header {
    display: inline-block;
    justify-content: space-between;
    align-items: flex-start;
    padding: 92px 24px 96px;
}

.cover {
    padding: 96px 0 179px;
}

.lots {
    padding: 179px 24px 146px;
}

.about {
    padding: 146px 24px 180px;
}

.footer {
    display: flex;
}

.content {
    width: 1100px;
    box-sizing: border-box;
    margin: auto;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    left: 454px;
    gap: 0px;
    opacity: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__menu-item {
    position: relative;
    display: flex;
}

.about-auc {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
}

.text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

.header__menu-list {
    margin-right: auto;
    margin-left: auto;
}

.footer__menu-item {
    position: relative;
    display: flex; 
}
.footer__menu-list_active {
    position: relative;
    display: flex;
}
.lots-3 {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
}
.accent-span {
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.6em;
    text-align: left;
    color: #fff;
}
.button1 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
}
.film {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    color: #fff;
}

.film-under {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}

.first-lot {
    width: 334px;
    height: 563px;
    top: 74px;
    gap: 0px;
    opacity: 0px;
}

.second-lot {
    width: 334px;
    height: 563px;
    top: 74px;
    left: 359px;
    gap: 0px;
    opacity: 0px;
}

.third-lot {
    width: 334px;
    height: 563px;
    top: 74px;
    left: 718px;
    gap: 0px;
    opacity: 0px;    
}

.cards {

}